.form-group {
  font-family: 'Arial';
}
.form-check {
  font-family: 'Arial';
  background-color: rgb(159, 173, 132);
  width: 100px;
}
.message {
  font-family: 'Arial';
}

input[type='text'],
select {
  width: 350px;
  padding: 12px 20px;
  margin-left: 15px;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type='type'],
select {
  width: 150px;
  padding: 12px 20px;
  margin-left: 15px;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  margin-left: 15px;
  width: 50%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: default;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.btn {
  background-color: rgb(92, 107, 93);
  border-block: rgb(73, 14, 14);
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
