
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Tammam ABOU RSHAID / Project</h1>
      <h2>Frontend Specialisation <br> "Intake 4 - 2018/19"</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul>
       <li><a routerLink="/my-project">my Project</a></li>
      <li><a routerLink="/my-resume">my Resume</a></li>
      <li><a routerLink="/chess-board">Chessboard</a></li>
      <li><a routerLink="/task-manager"> Add new task</a>
      <ul><a routerLink="/child-taskmanager">Task Manager List</a></ul>
      </li>


    </ul>
  </div>
</div>

<router-outlet></router-outlet>
