.container {
    position: relative;
    width: 30%;
    float: right;
}

.image {
    display: block;
    width: 40%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 40%;
    opacity: 0;
    transition: .5s ease;
    background-color: #acba36;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


p.normal {
    font-style: normal;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

.ui-icon-video{
    height: 50%;
    width:50%;
}