ul {
  font-family: 'Arial';
  display: flex;
  margin: 10px;
  padding: 0;
  justify-content: space-around;
  align-self: auto;
  list-style: none;
}

li :hover {
  background-color: rgb(206, 209, 156);
  font-family: 'Arial';
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}
.h1 {
  font-size: 30px;
}
.h2 {
  font-size: 25px;
}
.container .row .text-center {
  font-family: 'Arial';
  font-style: italic;
  text-align: center;
}
