<div class="container">
    <img src="/assets/img_profile.jpg" alt="profile image" class="image">
    <div class="overlay">
        <div class="text">tammam@gmx.at</div>
    </div>
</div>

<h1>Tammam ABOU RSHAID</h1>
<h2>Quality Management & Technical Assessor<br>
    Web Developer
</h2>

<h4>WORK EXPERIENCE</h4>
<p>Atomic Energy Commission (AECS)</p>
<ul>
    <li>Quality Assurance Office / Calibration Section, apply ISO/IEC 17025 & ISO 9001 & ISO 14001 & ISO 15189 Standards.</li>
    <li>Statistical treatment and control charts of data by Proficiency test and inter-laboratory comparisons.</li>
    <li>Internal Auditing of Quality Management System.</li>
    <li>Documentation of Quality Management Procedures and Quality Manual.</li>
    <li>Set the Quality Control Mechanism for the Laboratory.</li>
    <li>Managing test/calibration items, run the processes (sampling, transport, handling, receipting, track-ability, and issuing reports of External Analytical Services.</li>
    <li>Set the Quality Control Mechanism for the Laboratory.</li>
</ul>



<h4>EDUCATION</h4>
<p>New Austrian Coding School, Vienna </p>
<ul>
    <li> Programming: Basic Training | Specialization | Project Phase
Java 8 (object oriented, abstraction, polymorphism, functional interfaces, streams, time), Linux, GitHub, IntelliJ IDEA.
</li>
    <li> Specialization: JavaScript, HTML5 and CSS3, Typescript, Angular.</li>
    <li> Soft Skills: Time Management, Communication Skills, Working in multicultural teams.</li>
   </ul>

<p>{{ someText }}</p>
<ul>
    <li> CS50's Understanding Technology</li>
    <li> HTML, CSS, and JavaScript for Web Development.</li>
   </ul>

<p>Training Courses</p>
<ul>
    <li> I have attended many courses related to my professional career by:
IAEA (Vienna & Monaco), NSCL & HIAST (Syria), Quality Syria, Excel Partner Ship (UK), DAP (Germany), AECS (Syria), Eurachem (Cyprus).
</li>
   </ul>
