// @import "bootstrap/dist/css/bootstrap.min.css";
.container {
  font-family: 'Arial';
  margin: 50px;
  padding: 0;
}
ul {
  list-style: none;
}
li {
  font-family: 'Arial';
  border-radius: 0.5em;
  margin-bottom: 2em;
  max-width: 520px;
  padding: 10px 20px;
  margin-left: 15px;
  border: 3px solid #ccc;
  box-sizing: border-box;
  position: relative;
}

.badge {
  background-color: lightgrey;
  border-radius: 7px;
  display: inline-block;
  min-width: 40px;
  padding: 3px;
  margin-left: 4px;
  min-height: 20px;
  line-height: 20px;
  position: absolute;
  right: 4px;
  top: 5px;
}
