// @import '../node_modules/bootstrap/dist/css/bootstrap.min.css'

img {
  display: block;
  margin-left:  20%;
  margin-right: middle;
  width: 60%;
}
h2{
  margin-left:  35%;
  font-family: "Arial", Times, serif;
  font-style: normal;

  font-style: italic;
  font-style: oblique;
}
